#white-Pawn-1 { 
    grid-area: A7;
}
#white-Pawn-2 { 
    grid-area: B7;
}
#white-Pawn-3 { 
    grid-area: C7;
}
#white-Pawn-4 { 
    grid-area: D7;
}
#white-Pawn-5 { 
    grid-area: E7;
}
#white-Pawn-6 { 
    grid-area: F7;
}
#white-Pawn-7 { 
    grid-area: G7;
}
#white-Pawn-8 { 
    grid-area: H7;
}

#white-Rook-1 { 
    grid-area: A8;
}
#white-Rook-2 { 
    grid-area: H8;
}
#white-Knight-1 { 
    grid-area: B8;
}
#white-Knight-2 { 
    grid-area: G8;
}
#white-Bishop-1 { 
    grid-area: C8;
}
#white-Bishop-2 { 
    grid-area: F8;
}
#white-Queen { 
    grid-area: D8;
}
#white-King { 
    grid-area: E8;
}
