#black-Pawn-1 { 
    grid-area: A2;
}
#black-Pawn-2 { 
    grid-area: B2;
}
#black-Pawn-3 { 
    grid-area: C2;
}
#black-Pawn-4 { 
    grid-area: D2;
}
#black-Pawn-5 { 
    grid-area: E2;
}
#black-Pawn-6 { 
    grid-area: F2;
}
#black-Pawn-7 { 
    grid-area: G2;
}
#black-Pawn-8 { 
    grid-area: H2;
}
#black-Rook-1 { 
    grid-area: A1;
}
#black-Rook-2 { 
    grid-area: H1;
}
#black-Knight-1 { 
    grid-area: B1;
}
#black-Knight-2 { 
    grid-area: G1;
}

#black-Bishop-1 { 
    grid-area: C1;
}
#black-Bishop-2 { 
    grid-area: F1;
}
#black-Queen { 
    grid-area: E1;
}
#black-King { 
    grid-area: D1;
}
