#white-Pawn-1 {
    grid-area: C8;
}

/*
#white-queen {
    grid-area: D5;
}
#black-knight-1 {
    grid-area: E7;
}
*/


.C6:before {
    content: '♟';
}


.white-Pawn-1 {
    grid-area: A8;
    Pawn-1
}

.white-Pawn-2 {
    content: '♙';
}
/*
.white-Pawn-3
.white-Pawn-4
.white-Pawn-5
.white-Pawn-6
.white-Pawn-7
.white-Pawn-8
.white-Bishop-1
.white-Bishop-2
.white-Knight-1
.white-Knight-2
.white-Rook-1
.white-Rook-2
.white-Queen
.white-King

.black-Pawn-1
.black-Pawn-2
.black-Pawn-3
.black-Pawn-4
.black-Pawn-5
.black-Pawn-6
.black-Pawn-7
.black-Pawn-8
.black-Bishop-1
.black-Bishop-2
.black-Knight-1
.black-Knight-2
.black-Rook-1
.black-Rook-2
.black-Queen
.black-King */